{extend name='common/_container'}
{block name="content"}
<div class="ibox float-e-margins">
	<div class="ibox-content">
		<div class="form-horizontal" id="CodeInfoForm">
			<div class="row">
				<div class="layui-tab layui-tab-brief" lay-filter="test">
					<ul class="layui-tab-title">
						<li class="layui-this">基本设置</li>
						<li>上传配置</li>
					</ul>
					<div class="layui-tab-content" style="margin-top:10px;">
						<div class="layui-tab-item layui-show">
							<div class="col-sm-7">
							<!-- form start -->
					<div class="form-group">
						<label class="col-sm-2 control-label">站点名称：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="site_title" value="{$info.site_title}" name="site_title" class="form-control" placeholder="请输入站点名称">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">子站点名称：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="sub_site_title" value="{$info.sub_site_title}" name="sub_site_title" class="form-control" placeholder="请输入子站点名称">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">分学校站点名称：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="school_site_title" value="{$info.school_site_title}" name="school_site_title" class="form-control" placeholder="请输入分学校站点名称">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">站点LOGO：</label>
						<div class="col-sm-5">
							<input type="text" autocomplete="off" id="site_logo" value="{$info.site_logo}" {if condition="config('my.img_show_status') eq true"}onmousemove="showBigPic(this.value)" onmouseout="closeimg()"{/if} name="site_logo" class="form-control" placeholder="请输入站点LOGO">
							<span class="help-block m-b-none site_logo_process"></span>
						</div>
						<div class="col-sm-2" style="position:relative; right:30px;">
							<span id="site_logo_upload"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">后台登录背景图：（1920*1080）</label>
						<div class="col-sm-5">
							<input type="text" autocomplete="off" id="admin_login_bg" value="{$info.admin_login_bg}" {if condition="config('my.img_show_status') eq true"}onmousemove="showBigPic(this.value)" onmouseout="closeimg()"{/if} name="admin_login_bg" class="form-control" placeholder="请上传后台登录背景图">
							<span class="help-block m-b-none site_logo_process"></span>
						</div>
						<div class="col-sm-2" style="position:relative; right:30px;">
							<span id="admin_login_bgs"></span>
						</div>

					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">站点版权：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="copyright" value="{$info.copyright}" name="copyright" class="form-control" placeholder="请输入站点版权">
						</div>
					</div>
					<!--<div class="form-group">-->
						<!--<label class="col-sm-2 control-label">版本号：</label>-->
						<!--<div class="col-sm-9">-->
							<!--<input type="text" autocomplete="off" id="version" value="{$info.version}" name="version" class="form-control" placeholder="请输入版本号">-->
						<!--</div>-->
					<!--</div>-->
					
							<!-- form end -->
							</div>
						</div>
						<div class="layui-tab-item">
							<div class="col-sm-7">
							<!-- form start -->
					<div class="form-group">
						<label class="col-sm-2 control-label">上传文件大小：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="file_size" value="{$info.file_size}" name="file_size" class="form-control" placeholder="请输入上传文件大小">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">文件类型：</label>
						<div class="col-sm-9">
							<textarea id="file_type" name="file_type"  class="form-control" placeholder="请输入文件类型">{$info.file_type}</textarea>
						</div>
					</div>
							<!-- form end -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="hr-line-dashed"></div>
			<div class="row btn-group-m-t">
				<div class="col-sm-7">
					<button type="button" class="btn btn-primary" onclick="CodeInfoDlg.index()" id="ensure">
						<i class="fa fa-check"></i>&nbsp;确认提交
					</button>
					<button type="button" class="btn btn-danger" onclick="CodeInfoDlg.close()" id="cancel">
						<i class="fa fa-eraser"></i>&nbsp;取消
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="__PUBLIC__/static/js/upload.js" charset="utf-8"></script>
<script src="__PUBLIC__/static/js/plugins/layui/layui.js?t=1498856285724" charset="utf-8"></script>
<script>
layui.use(['form'],function(){});
layui.use('element', function(){
	var element = layui.element;
	element.on('tab(test)', function(elem){
	});
});
uploader('site_logo_upload','site_logo','image',false,'','{:getUploadServerUrl()}');
uploader('admin_login_bgs','admin_login_bg','image',false,'','{:getUploadServerUrl()}');
var CodeInfoDlg = {
	CodeInfoData: {},
	validateFields: {
		site_title: {
			validators: {
				notEmpty: {
					message: '站点名称不能为空'
	 			},
	 		}
	 	},
		sub_site_title: {
			validators: {
				notEmpty: {
					message: '子站点名称不能为空'
	 			},
	 		}
	 	},
	 }
}

CodeInfoDlg.collectData = function () {
	this.set('site_title').set('sub_site_title').set('school_site_title').set('site_logo').set('file_size').set('file_type').set('copyright').set('version').set('urladdress').set('username').set('libraryname').set('librarypwd').set('uniacid').set('admin_login_bg');
};

CodeInfoDlg.index = function () {
	 this.clearData();
	 this.collectData();
	 if (!this.validate()) {
	 	return;
	 }
	 var ajax = new $ax(Feng.ctxPath + "/Base/config", function (data) {
	 	if ('00' === data.status) {
	 		Feng.success(data.msg,1000);
	 	} else {
	 		Feng.error(data.msg + "！",1000);
		 }
	 })
	 ajax.set(this.CodeInfoData);
	 ajax.start();
};
</script>


<script src="__PUBLIC__/static/js/base.js" charset="utf-8"></script>
{/block}
